.focusari/*

*.pyc
test.db
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
htmlcov/
*.egg-info/
venv*/
.venv/
.python-version
build/
dist/

app/admin/app/data/
app/admin/nanobar/data/
app/db/*.db
app/nanobar.api-routes.json
app/pages/node_modules/

